<% content_for :page_title do %>
  <%= Spree.t(:fb_settings) %>
<% end %>

<% content_for :page_actions do %>
	<li>
		<%= link_to Spree.t(:back_to_fb_catalogs_list), spree.admin_fb_catalogs_path, :icon => 'icon-arrow-left', class: 'button' %>
	</li>
	<li>
    <%= link_to Spree.t(:back_to_fb_settings_list), admin_fb_settings_path, class: 'button' %>
  </li>
<% end %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @fb_settings } %>

<%= form_for [:admin,  @fb_settings] do |f| %>
  <fieldset class="no-border-top">
    <%= render :partial => 'form', :locals => { :f => f } %>
    <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
  </fieldset>
<% end %>